<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content},~{::title})}">
  <head>
    <title>Add Contact</title>
  </head>

  <body>
    <div id="content">
      <!--If user loggedin include the sidebar, passing sidebar specific for Profile and dashboard so it need to send separetky-->
      <div data-th-if="${userDetail}">
        <div data-th-replace="~{user/sidebar :: sidebar}"></div>
      </div>

      <div class="sm:pl-64 pt-16 py-1" style="height: 1000px">
        <div class="grid grid-cols-12">
          <div class="col-span-3"></div>
          <div class="col-span-12 md:col-span-6">
            <div
              class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
            >
              <h5
                class="w-full text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
              >
                Add New Contact
              </h5>
              <!--Form to add new contact info-->
              <form action="" class="mt-2">
                <div class="mb-2">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Name</label
                  >
                  <div class="relative mb-6">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-user"></i>
                    </div>
                    <input
                      type="text"
                      id="input-group-1"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="name"
                    />
                  </div>
                </div>
                <!--email-->
                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Email</label
                  >
                  <div class="relative mb-6">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-envelope-open-text w-4 h-4"></i>
                    </div>
                    <input
                      type="text"
                      id="input-group-1"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="name@gmail.com"
                    />
                  </div>
                </div>
                <!--Phone number-->
                <div class="mb-3">
                  <label
                    for="input-group-1"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Phone Number</label
                  >
                  <div class="relative mb-6">
                    <div
                      class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                    >
                      <i class="fa-solid fa-phone"></i>
                    </div>
                    <input
                      type="text"
                      id="input-group-1"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="9823646901"
                    />
                  </div>
                </div>
                <!--Address-->
                <div>
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact Address</label
                  >
                  <textarea
                    id="message"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Enter your address.."
                  ></textarea>
                </div>
                <!--Description-->
                <div>
                  <label
                    for="message"
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    >Contact Description</label
                  >
                  <textarea
                    id="message"
                    rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write about new contact"
                  ></textarea>
                </div>
                <!--Social links-->
                <div class="flex space-x-3">
                  <div class="w-full">
                    <div class="mb-3 mt-2">
                      <!-- <label
                        for="input-group-1"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Phone Number</label
                      > -->
                      <div class="relative mb-6">
                        <div
                          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                        >
                          <i class="fa-brands fa-facebook w-4 h-4"></i>
                        </div>
                        <input
                          type="text"
                          id="input-group-1"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="https://facebook.com/"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="w-full">
                    <div class="mb-3 mt-2">
                      <!-- <label
                        for="input-group-1"
                        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                        >Phone Number</label
                      > -->
                      <div class="relative mb-6">
                        <div
                          class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none"
                        >
                          <i class="fa-brands fa-linkedin w-4 h-4"></i>
                        </div>
                        <input
                          type="text"
                          id="input-group-1"
                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                          placeholder="https://linkedeIn.com/"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <!--contact image-->
                <div class="mb-3">
                  <label
                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                    for="file_input"
                    >Upload Contact Image</label
                  >
                  <input
                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                    id="file_input"
                    type="file"
                  />
                </div>
                <!--Favorite contact checkbox-->
                <div>
                  <div class="flex items-center mb-3">
                    <input
                      id="default-checkbox"
                      type="checkbox"
                      value=""
                      class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    />
                    <label
                      for="default-checkbox"
                      class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                      >Is this your favorite contact ?</label
                    >
                  </div>
                </div>
                <!--Add contact button-->
                <div class="button_container space-x-8">
                  <button
                    type="submit"
                    class="px-3 py-2 rounded bg-gray-800 text-white dark:bg-red-500 dark:hover:bg-green-600 hover:bg-blue-700"
                  >
                    Add Contact
                  </button>
                  <!--Reset button-->
                  <button
                    type="reset"
                    class="px-3 py-2 rounded bg-gray-800 text-white dark:bg-red-500 dark:hover:bg-green-600 hover:bg-blue-700"
                  >
                    Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<!--We have used  pt-16 px-4 so that content will not hide under navbar-->
<!--To keep card at center we use grid,-->
<!--grid-cols-12 means giving 12 column to grid, divide grid to 3 grids using col-span-3,col-span-6 means keep form to center-->
