<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content},~{::title})}">
  <head>
    <title>Contact-US Page</title>
  </head>
  <!-- <title>About Page</title> -->
  <body>
    <div id="content">
      <h1>Welcome to Contact us Page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio sed
        aliquam nesciunt fuga ratione! Voluptate dolor ullam eum! Incidunt,
        maxime numquam? Voluptatum inventore tenetur nulla eum nisi corrupti, ex
        eaque. Alias omnis explicabo sequi fugit animi libero tempore minima
        minus repudiandae voluptate, eius illo consectetur ipsam deserunt ad
        saepe iste quas eum provident dolorem dolor nostrum pariatur corrupti
        autem? Eaque!
      </p>
    </div>
  </body>
</html>
