<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content},~{::#title},~{::script})}">
  <head>
    <title>About Page</title>
  </head>
  <title id="title">Service Page</title>
  <body>
    <div id="content">
      <h1>Welcome to Services Page</h1>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia
        blanditiis dicta quas inventore quis saepe nobis officiis eum possimus
        perspiciatis, voluptatum ut autem adipisci incidunt? Laborum, esse!
        Corporis iste ut tempore natus omnis ullam voluptatem porro, adipisci
        autem impedit voluptate magnam amet quasi fugit et, iure deleniti
        aliquam at tempora?
      </p>
    </div>
    <script>
      console.log("Services page");
    </script>
  </body>
</html>
