<!DOCTYPE html>
<html lang="en" data-th-replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
  <head>
    <title>Signup Page</title>
  </head>
  <!-- <title>About Page</title> -->
  <body>
    <div id="content">
      <div class="grid grid-cols-12">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <!--Card-->
          <div
            class="block p-6 bg-white border-t-8 border-b-8 border-blue-600 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <img
              img
              class="w-28 h-28 object-contain rounded-t-lg mx-auto"
              data-th-src="@{'/images/signup.png'}"
              alt="Signup"
            />
            <!-- Success message here-->
            <div class="mt-5" data-th-replace="~{message :: message}"></div>

            <h5
              class="w-full text-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Signup Here
            </h5>
            <!--this is the form-->
            <form
              data-th-action="@{'/register'}"
              method="post"
              data-th-object="${userForm}"
              class="mt-2"
              novalidate
            >
              <!-- name -->
              <div class="mb-3">
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Name</label
                >
                <input
                  type="text"
                  id="name"
                  data-th-field="*{name}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter name"
                  required
                />
                <!-- <p class="px-1 py-2 text-red-600">User is required</p> -->
                <!--To show the errors from Binding Result-->
                <div
                  data-th-if="${#fields.hasErrors('name')}"
                  data-th-errors="*{name}"
                  class="text-red-600 px-1 py-2"
                >
                  User is required
                </div>
              </div>
              <!-- Email-->
              <div class="mb-3">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your email</label
                >

                <input
                  type="email"
                  id="email"
                  data-th-field="*{email}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="xyz@gmail.com"
                  required
                />
                <div
                  data-th-if="${#fields.hasErrors('email')}"
                  data-th-errors="*{email}"
                  class="text-red-600 px-1 py-2"
                ></div>
              </div>
              <!-- Password-->
              <div class="mb-3">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Password</label
                >
                <input
                  type="password"
                  id="password"
                  data-th-field="*{password}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                />
                <!--password error if any-->
                <div
                  data-th-if="${#fields.hasErrors('password')}"
                  data-th-errors="*{password}"
                  class="text-red-600 px-1 py-2"
                ></div>
              </div>
              <!-- Phone number-->
              <div class="mb-3">
                <label
                  for="phone"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Contact Number</label
                >
                <input
                  type="text"
                  id="phone"
                  data-th-field="*{phoneNumber}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  required
                />
                <!--Phone error is any from Binding Result-->
                <div
                  data-th-if="${#fields.hasErrors('phoneNumber')}"
                  data-th-errors="*{phoneNumber}"
                  class="text-red-600 px-1 py-2"
                ></div>
              </div>
              <!--About text area-->
              <div class="mb-3">
                <label
                  for="about"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Write Something About Yourself</label
                >
                <textarea
                  id="about"
                  data-th-field="*{about}"
                  rows="4"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Write here..."
                ></textarea>
                <!--Text area error if any-->
                <div
                  data-th-if="${#fields.hasErrors('about')}"
                  data-th-errors="*{about}"
                  class="text-red-600 px-1 py-2"
                ></div>
              </div>
              <!--Button-->
              <div class="mb-3 flex justify-center space-x-3">
                <button
                  type="submit"
                  class="px-3 py-2 rounded bg-gray-800 text-white dark:bg-blue-700 dark:hover:bg-blue-600 hover:bg-gray-900"
                >
                  Signup
                </button>

                <!--Reset Button-->
                <button
                  type="reset"
                  class="px-3 py-2 rounded bg-yellow-900 text-white hover:bg-orange-900 dark:bg-blue-700 dark:hover:bg-blue-600"
                >
                  Reset
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
      console.log("Signup page");
    </script>
  </body>
</html>